
<%- include ("header.ejs") %>
<%- include ("menu.ejs") %>
<main>
    <div id="addForm">
        <form action="" method="post">                
            <br>
            <h2 for="duration">Enter duration for the next level: </h2>
            <br>
            <h4>have to be more than 2</h4>
            <input type="text" name="duration" id="duration" value="<%= item.duration %>" />
            <br>    
            <h2 for="lightLvl">Enter Light Level  the next level: </h2>
            <input type="text" name="lightLvl" id="lightLvl" value="<%= item.lightLvl %>" />
            <br>
            <br>
            <button>save</button>
        </form>
    </div>     


</main>
<%- include ("footer.ejs") %>

